@{
    ViewData["Title"] = "Farmer Dashboard";
}

<div class="container py-5">
    <div class="text-center mb-5 pb-3">
        <h1 class="display-4">Welcome to your farmer dashboard</h1>
        <p class="lead">View products marketplace and manage your own products</p>
    </div>

    <div class="row justify-content-center gx-5">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body text-center p-4">
                    <h3 class="card-title mb-3">Marketplace</h3>
                    <p class="mb-4">Find available products to purchase</p>
                    <div class="d-grid">
                        <a href="/Farmer/Marketplace" class="btn btn-primary">View marketplace</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body text-center p-4">
                    <h3 class="card-title mb-3">Your products</h3>
                    <p class="mb-4">Create your own product listings</p>
                    <div class="d-grid">
                        <a href="/Farmer/Products" class="btn btn-primary">Manage products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
